.row__container {
    display: flex;
    align-items: center;
    position: relative;
}

.row__posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    width: 100px;
    /* Adjust as needed */
    object-fit: contain;
    transition: transform 0.3s;
    margin-right: 10px;
}

.row_poster:hover {
    transform: scale(1.4);
}

.row__posterLarge {
    width: 150px;
    max-height: 250px;
    border-radius: 10px;
}

.row__arrow {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.row__arrow-left {
    left: 0;
}

.row__arrow-right {
    right: 0;
}

.row__container:hover .row__arrow {
    opacity: 1;
}