.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
}

.footer_inner_container {
    width: 60%;
}

.footer_icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 10px;
    color: #fff;
}

.FacebookOutlinedIcon,
.InstagramIcon,
.YouTubeIcon {
    color: white;
}

.footer_data {
    display: flex;
    justify-content: space-between;
}

.footer_data ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 16vh;

}

.footer_data ul li {
    font-family: Netflix Sans,
        Helvetica Neue,
        Segoe UI,
        Roboto,
        Ubuntu,
        sans-serif;
    ;
    cursor: pointer;
}

.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #f0ebeb 1px solid;
    width: 25%;
    margin: 20px 0;
    padding: 5px;
    cursor: pointer;

}

.copy-write {
    font-size: 12px;
    margin-bottom: 15px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

@media (max-width: 600px) {
    .footer_icons {
        justify-content: center;
        gap: 10px;
    }

    .footer_data {
        flex-direction: column;
        align-items: center;
    }

    .footer_data ul {
        align-items: center;
        text-align: center;
    }

    .service_code {
        width: 100%;
        margin: 20px 0;
    }
}